/* 
mdc.css: material design componentのcssをカスタマイズするためのファイルである. 

*** Material Design Components ***
1. App Bars: top
2. Buttons
3. Buttons: floating action button
4. Buttons: icon button
5. Cards
6. Chips
7. Data tabels
8. Dialogs
9. Image list
10. Lists
11. Menus
12. Navigaton drawer
13. Progress indicators
14. Selection controls: checkboxes
15. Selection controls: radio buttons
16. Selection controls: switches
17. Sliders
18. Snackbars
19. Tabs
20. Text fields
E1. Selects
Ex. Colors
*/

/* -- 1. App Bars: top -- */
.mdc-top-app-bar	{
  --mdc-theme-primary: #ff9800;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
}

/* -- 17. Slider -- */
.mdc-slider {
  --mdc-theme-primary: #2196f3;
}

/* -- 19.Tabs -- */ 
.mdc-tab-bar {
  height: 48px;
  width: calc(100vw - 48px) !important;
}


