/* 
mdc.css: material design componentのcssをカスタマイズするためのファイルである. 

*** Material Design Components ***
1. App Bars: top
2. Buttons
3. Buttons: floating action button
4. Buttons: icon button
5. Cards
6. Chips
7. Data tabels
8. Dialogs
9. Image list
10. Lists
11. Menus
12. Navigaton drawer
13. Progress indicators
14. Selection controls: checkboxes
15. Selection controls: radio buttons
16. Selection controls: switches
17. Sliders
18. Snackbars
19. Tabs
20. Text fields
E1. Selects
Ex. Colors
*/

/* -- 1. App Bars: top -- */
.mdc-top-app-bar	{
  --mdc-theme-primary: #ff9800;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.38);
}

/* -- 2. Buttons -- */

/* -- 8. Dialogs -- */
.mdc-dialog__surface {
  width: 480px;
}

/* -- 17. Slider -- */
.mdc-slider {
  --mdc-theme-primary: #2196f3;
}

/* -- 19.Tabs -- */ 
.mdc-tab-bar {
  height: 48px;
  width: calc(100vw - 48px) !important;
}

/* -- Ex. Colors -- */
.red-500 {
  background-color: #ffcdd2;
}

.pink-500 {
  background-color: #f8bbd0;
}

.purple-500 {
  background-color: #e1bee7;
}

.deep-purple-500 {
  background-color: #d1c4e9;
}

.indigo-500 {
  background-color: #c5cae9;
}

.blue-500 {
  background-color: #bbdefb;
}

.light-blue-500 {
  background-color: #b3e5fc;
}

.cyan-500 {
  background-color: #b2ebf2;
}

.teal-500 {
  background-color: #b2dfdb;
}

.green-500 {
  background-color: #c8e6c9;
}

.light-green-500 {
  background-color: #dcedc8;
}

.lime-500 {
  background-color: #f0f4c3;
}

.yellow-500 {
  background-color: #fff9c4;
}

.amber-500 {
  background-color: #ffecb3;
}

.orange-500 {
  background-color: #ffe0b2;
}

.deep-orange-500 {
  background-color: #ffccbc;
}

.brown-500 {
  background-color: #d7ccc8;
}

.grey-500 {
  background-color: #f5f5f5;
}

.blue-grey-500 {
  background-color: #cfd8dc;
}


